---
import Layout from '../layouts/Layout.astro';
import CoffeeList from '../components/CoffeeList.jsx';
---

<Layout title="☕ Coffee ☕">
  <header class="w-full h-[300px]"></header>
  <main
    class="bg-[#1B1D1F] w-[380px] md:w-5/6 mb-20 p-11 m-auto -mt-[140px] rounded-xl shadow-lg flex flex-col gap-3 items-center relative z-10">
    <img
      src="/vector.svg"
      alt="Vector header"
      class="absolute -right-16 -z-10 md:top-9 md:right-60"
    />

    <h1 class="text-3xl font-bold text-center mt-10">Our Collection</h1>
    <p class="opacity-50 max-w-lg text-center">
      Introduciong pour Coffee Collection, a selection of unique coffees from different roat types
      and origins, expertly roasted in small batches and shipped fresh weekly.
    </p>

    <CoffeeList client:idle />
  </main>

  <style>
    header {
      background-image: url('/bg-cafe.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>
</Layout>
